@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Outfit:wght@300;400;600&display=swap');

:root{
    --open-sans: 'Open Sans', sans-serif;
    --montserrat: 'Montserrat', sans-serif;
    --primary-color: #0A1128;
}

*{
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

body{
    font-family: var(--open-sans);
    font-size: 2rem;
    color: var(--primary-color);
}

h1,h2,h3,h4,h5,h6{
    font-family: var(--montserrat);
}

h1{
    font-size: 6rem;
    text-transform: uppercase;
}

h2{
    font-size: 5.5rem;
}

h3{
    font-size: 5rem;
}

h4{
    font-size: 4.5rem;
}

h5{
    font-size: 4rem;
}

h6{
    font-size: 3.5rem;
}

.main-bg{
    background-image: url(../img/main-vg.svg);
    background-size: cover;
    background-position: center center;
    color: white;
}

.main-content{
    max-width: 1200px;
    margin: 0 auto;
}

.section{
    min-height: 100vh;
}
